header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 6rem;
  margin: 0.6rem 1rem;
}
